body {
    color:black;
}


/* Choices */
.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: grey;
    font-size: 3rem;
    min-width: 80rem;
    float: center;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 black;
    color:white;
    opacity: 0.7;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem; 
    width: 100%;
}

/* HUD */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem
}

.hud-main-text {
    text-align: center;
}

#question {
    font-size: 4rem;
}

.highscore-page {
    background: chartreuse;
}